.card-profile {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 8px;
  background-color: #b1d6d5;
  margin-top: 24px;
  padding: 16px;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.2);
}

.avatar-big {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 4px;
}

.card-my-values {
  background-color: white;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  justify-content: center;
  border-radius: 5px;

  .fa-heart {
    color: #F29191;
  }
  h3 {
    text-align: center;
  }
}


h3 {
    color: #5EAAA8;
    font-size: 24px;
    padding: 8px;
    text-align: center;
  }

h2 {
  margin-top: 24px;
}

.card-about .card-bookings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  margin: 16px;
  padding: 12px;
}

.card-personality {
  border: 2px solid #5EAAA8;
  border-radius: 5px;
  width: 30%;
  margin: 16px;
  img {
    height: 80px;
    width: 80px;
    margin: 8px;
    margin-left: 24px;
  }
}

.card-interest {
  border: 2px solid #5EAAA8;
  border-radius: 5px;
  width: 30%;
  margin: 16px;
  h1 {
    text-align: center;
  }
}

.card-more {
  border: 2px solid #5EAAA8;
  border-radius: 5px;
  width: 30%;
  margin: 16px;
  p {
    font-size: 24px;
    font-weight: bold;
  }
}

.card-more-events {
  border: 2px solid #5EAAA8;
  border-radius: 5px;
  width: 30%;
  margin: 16px;
  p {
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    color: #5EAAA8;
  }
}

.card-event {
  border: 2px solid #5EAAA8;
  border-radius: 5px;
  width: 30%;
  margin: 16px;
}

.personality-test {
  justify-content: left;
}
