.show-page-banner {
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  margin-top: 110px;
  margin-bottom: 40px;

  .location-header {
    position: absolute;
    right: 100px;
    top: -20px;
    color: rgb(94, 170, 168);
    font-weight: bolder;
    font-size: 60px;
  }
}

.subheader{
  margin-top:16px;
}

.start-event-button{
  margin-top: 80px;
  margin-bottom: 15px;
  text-align: center;
}