<div class= container><h1>As an admin add a new event</h1>
<%= render 'form', event: @event %>
<%= link_to 'Back', events_path %>
</div>



<div class= "show-page-card-grid">
  <% @event.users.each do |user| %>
    <div class= "show-page-card">
      <div class="left-side-show-page-card">
        <div class= "show-page-card-image" style="background-image: url(<%= cl_image_path user.avatar.key %>)"></div>
        <p><%= user.first_name %><p>
      </div>
      <div class= "right-side-show-page-card">
        <ul class= "value-list">
        <li class= "value-item"> <i class="fas fa-heart"></i>  Trust</li>
        <li class= "value-item"> <i class="fas fa-heart"></i>  Openess</li>
        <li class= "value-item"> <i class="fas fa-heart"></i>  Loyality</li>
        </ul>
        <a class="btn-red" href=""> Contact</a>
      </div>
    </div>
  <% end %>
</div>

