<div class = "show-page-banner" style="background-image: url(<%= cl_image_path @event.photo.key %> )">
<h1 class= "location-header"><%= @event.location %> </h1>
</div>

<div class = "container">
  <div class = "subheader">
    <h1>You took part in this event!</h1>
    <h3 class="text-left p-0">30th May 2021</h3>
    <h5>Get in touch with your new friends</h5>
  </div>




  <div class= "show-page-card-grid">
    <% @event.users.each do |user| %>
      <div class= "show-page-card">
        <div class="left-side-show-page-card">
          <div class= "show-page-card-image" style="background-image: url(<%= cl_image_path user.avatar.key %>)"></div>
          <p><%= user.first_name %><p>
        </div>
        <div class= "right-side-show-page-card">
          <ul class= "value-list">
          <li class= "value-item"> <i class="fas fa-heart"></i>  Trust</li>
          <li class= "value-item"> <i class="fas fa-heart"></i>  Openess</li>
          <li class= "value-item"> <i class="fas fa-heart"></i>  Loyality</li>
          </ul>
          <a class="btn-red" href=""> Contact</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
