<!-- banner -->

<div class="banner">
  <div class="container">
    <h1>Friend Finder</h1>
    <p id ="banner-second">Find meaningful connections</p>
    <%= link_to "Find your event", events_path, id: "btn-banner-red"%>
    <%= link_to "Login", new_user_session_path, id: "btn-login"%>
    <%= image_tag "people.svg", id: "banner-img" %>
  </div>
</div>
<!-- what is friend finder -->

<div class="container d-flex">
  <div>
    <h2>What is Friend Finder?</h2>
    <p>A platform that offers you the chance to find your bestfriend by meeting 20 strangers in one evening. Connected via video speed dates that reveal all values of the participants.</p>
  </div>
  <%= image_tag "home.jpg"%>
</div>



