<!-- banner -->

<div class="banner">
  <div class="container">
    <h1>Friend Finder</h1>
    <p id ="banner-second">Find meaningful connections</p>
    <%= link_to "Find your event", events_path, id: "btn-banner-red"%>
    <%= link_to "Login", new_user_session_path, id: "btn-login"%>
    <%= image_tag "people.svg", id: "banner-img" %>
  </div>
</div>


<!-- what is friend finder -->
<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <h2 id = "home-title">What is Friend Finder?</h2>
      <p class="text-justify home-text">A platform that offers you the chance to find your best friend by meeting 10 strangers in one evening. Connected via video speeddates that reveal all values of the participants.</p>
      <%= link_to "Find out more", new_user_session_path, id: "btn-home"%>
    </div>
    <div class="col-6" id = "home-img">
    </div>
  </div>
</div>



