<% if @video_date %>
<div class = "user-information">
<%=  %>
</div>
<div class= "video-chat-window">
  <%= render "shared/video_chat", video_call_token: @video_call_token, friend: @friend, video_date: @video_date %>
</div>
<% else %>
  <h2>Sorry, there is no video-date for you at this time</h2>
<% end %>

