<div class="container">
  <% if @video_date %>
  <div class = "user-information">
  <%=  %>
  </div>
  <div class= "video-chat-window">
    <%= render "shared/video_chat", video_call_token: @video_call_token, friend: @friend, video_date: @video_date %>
  </div>
  <% else %>
    <h2 class= "no-video-available" >At the moment there is no video available for you.</h2>
  <% end %>
</div>
