.events-container {
  margin-top: 48px;
    .event-card {
      display:flex;
      justify-content: space-around;
      align-items: flex-end;
      background-color: white;
      box-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.4);
      margin-bottom: 35px;
      transition: 0.2s;
      border-radius: 5px;
      border: 2px solid #5EAAA8;
      height: 150px;

    //   &:hover {
    //     background-color:rgb(158, 204, 203);
    //     box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    // }
    }
    p {
      margin:0;
      font-size: large;
    }
    .event-card-date{
      width: 300px;
      color: #5EAAA8;
      font-size: 25px;
      font-weight: bold;
      height: 120px;
      border-right: 3px solid #5EAAA8;
      padding-top: 35px;
      padding-right: 40px;
    }
    .event-card-date-passed{
      color: grey;
      width: 300px;
    }
    .event-card-description {
      width: 280px;
    }
    .event-card-status-booked{
      font-weight: bold;
      color: red;
      width: 200px;
      padding-top: 8px;


    }
    .event-card-status{
      width: 200px;
      padding-top: 8px;
      color: green;


    }
    .event-card-price{
      font-weight: bold;
      width: 100px;
    }

    .event-card-button{
      padding: 8px 16px;
      box-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.2);
      margin-bottom: 10px;
      transition: 0.2s;
      margin-right: 24px;
      &:hover {
        box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        font-weight: bold
      }
    }

}

#header-spacer {
  margin-top: 50px;
}

.fas.fa-user {
  padding-right: 12px;
  padding-top: 8px;
}

.max-participants {
  padding-top: 8px;
}
