.navbar-lewagon {
  justify-content: space-between;
  background: #6fb3b1;
  // opacity: 0.9;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-light .navbar-nav .nav-link.nav-link-custom {
  color: white;
  margin-bottom: 4px;
  padding: 8px 0 4px 0;

}

.navbar-expand-sm .navbar-nav .nav-link.nav-link-custom {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-expand-sm .navbar-nav .nav-link.nav-link-custom:hover {
    font-weight: 1000;
    transition: 0.2s;
  }

#dropdown-custom {
  border: none;
  margin: 4px;
}
