.show-page-card-grid {
  display: grid;
  grid-template-columns: 40% 40%;
  margin: 0 auto;
  justify-content: center;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  .show-page-card {
    display:flex;
    background-color: rgb(158, 204, 203);
    width: 100%;
    border-radius: 8px;
    margin-top: 32px;
    box-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.2);
    .left-side-show-page-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      font-weight: bold;
      font-size: 16px;
    }
    .right-side-show-page-card {
      background-color:white;
      width: 265px;
      height: 260px;
      margin-right: 4px;
      padding: 16px;
      margin-top:13px;
      margin-bottom: 13px;
      border-radius: 5px;
      .core-value-title {
        margin: 16px;
        padding: 8px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
    .show-page-card-image{
      height: 100px;
      width:100px;
      border-radius:50%;
      margin-bottom: 24px;
      background-position: center;
      background-size: cover;
      object-fit: cover;
    }
    .value-list{
      list-style: none;
      text-align: left;
      padding-left:0px;
      margin-bottom: 24px;
      margin-top: 24px;
    }
    .value-item{
      padding-bottom: 4px;
      font-weight: bold;
    }
    .interest-show{
      font-size: 25px;
    }
    .fa-heart{
      color: #F29191;
    }
    .btn-red{
      padding: 4px 16px;
      position: bottom;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

#value-list {
  padding-inline-start: 40px;
  margin: 0px;
}

#value-list li {
  font-size: 18px;
}

#show-page-name {
  margin-bottom: 0px;
}
