.video-call {
  width: 640px;
  height: 536px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.call-video-views {
  position: relative;
  height: 100%;
  background-color: black;
}

.no-call {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.waiting-for-buddy {
  color: white;
}

.call-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;

  .call-button {
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 4px 8px;
  }

  .call-button:hover {
    text-decoration: none;

    box-shadow: 0 0 12px rgba(0,0,0, 0.3);
  }
}

.btn-start-call {
  background-color: $green;
}

.btn-end-call {
  background-color: $red;
}

#local-video {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  video {
    background: black;
    width: 100px;
    height: 100px;
  }
}

#remote-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  video {
    height: 500px;
  }
}

.video-frame {
  display:flex;
}

.on-screen-friend-value {
  color: rgb(112, 179, 177);
  opacity: 0.1;
  position: absolute;
  bottom: 35px;
  transition: 1s;
  &:hover{
    opacity: 0.8;
  }
}

.friend-value-list{
  list-style: none;
  border: 1px solid rgb(242, 145, 145);
  padding: 0;

}
.friend-value-list-item{
  display: inline;
  font-weight:bold;
  margin-left: 2px;
  margin-right: 4px;
}


.on-screen-friend-interest{
  opacity: 0.1;
  position: absolute;
  bottom: 5px;
  transition: 1s;
  &:hover{
    opacity: 0.8;
  }
}

.friend-interest-list-item {
  color: white;
  display: inline;
}

.friend-interest-list{
  list-style: none;
  border: 1px solid rgb(242, 145, 145);
  padding: 0;

}
.friend-interest-list-item{
  font-weight:bold;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 4px;
}


.video-push{
  height: 50px;
}

.no-video-available {
margin-top: 200px;
text-align: center;
}